.sidebar {
	position: fixed;
	left: 0;
	width: 70px;
	height: calc(100vh - 64px);
	// background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 84px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 0;

	button {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}
