.appProgress {
	position: fixed;
	top: 40%;
	text-align: center;
	width: 100%;
}

.linearProgress {
	position: absolute;
	width: 100%;
}

.appWrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}